/* Datepicker
----------------------------------*/
.ui-datepicker {width: 200px;
	display: none;
	background: #fff;
	z-index: 10 !important;
}
.ui-datepicker .ui-datepicker-header {position: relative;
	padding: 5px 0;
	background: rgb(0, 96, 162);
	color: #fff;}
.ui-icon {display:block; overflow:hidden; text-indent:-99999px}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 8px; width: 11px; height: 20px; cursor: pointer; background: url(../img/datepicker-arrow.png) 0 0 no-repeat;}
.ui-datepicker .ui-datepicker-next{background-position: right top}
.ui-datepicker .ui-datepicker-prev {left: 5px;
	background-position: 0 -20px;}
.ui-datepicker .ui-datepicker-prev.ui-state-disabled, .ui-datepicker .ui-datepicker-next.ui-state-disabled, .ui-state-disabled span.ui-state-default{ opacity: 0.3; filter: alpha(opacity=30); }
.ui-datepicker .ui-datepicker-next {right:5px}
/*.ui-datepicker .ui-datepicker-prev-hover {left:6px; background-position: 0 -18px}
.ui-datepicker .ui-datepicker-next-hover {right:6px; background-position: right -18px}*/
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
	font-size: 1.3em;}
.ui-datepicker .ui-datepicker-title select { font-size: 1em;
	margin: 1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 45%; }
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year { float: right; }
.ui-datepicker table {width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
	color: rgb(128, 130, 133); }
.ui-datepicker th { padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
	border: 1px solid rgb(230, 231, 232);
	font-size: 1.3em;}
.ui-datepicker td { border: 1px solid rgb(230, 231, 232);
	padding: 5px;
	font-size: 1.2em;
	text-align: center; }
.ui-datepicker td span, .ui-datepicker td a { display: block;
	text-align: right;
	text-decoration: none;}
.ui-state-hover a, .ui-state-hover a:hover, td a.ui-state-default.ui-state-active, td a.ui-state-default:hover,
td.selectedDateFromCss a.ui-state-default, td.selectedDateFromCss span.ui-state-default{ color: #fff; }
.ui-state-hover a, .ui-state-hover a:hover { color: #212121/*{fcHover}*/; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;}
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: 0; cursor: pointer; padding: 0; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible; }
.ui-datepicker-week-end{opacity:0.8;filter:alpha(opacity=80);}
td a.ui-state-default.ui-state-active{font-weight: bold;}
td.selectedDateFromCss a.ui-state-default, td.selectedDateFromCss span.ui-state-default{font-weight: bold;}
.ui-datepicker-other-month{opacity:0.5;filter:alpha(opacity=50);}
.ui-datepicker-trigger{position: relative;
;
bottom: -15px;
left: 5px;
cursor: pointer; border: 0; height: 19px; width: 23px; background: transparent;}
.ui-datepicker td:hover{
	background: rgb(0, 154, 223);
	  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
}
.ui-datepicker-today{
	background: rgb(0, 154, 223);
}
.ui-datepicker-today a{
	color: #fff;
}
.ui-datepicker-current-day{
	background:  rgb(0, 96, 162);
}
/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto 0; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:49%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:330px; margin-left: 5px; margin-bottom: 2px; padding-top: 2px;}
* html .ui-datepicker-row-break{ margin-top: -16px; }
*+html .ui-datepicker-row-break{ margin-top: -16px; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}